<form action="/output">

  <label>Input Dimenions of you parcel</label>
  <label for"side1">Length</label>
  <input name="side1" type="number">
  <label for"side2">Width</label>
  <input name="side2" type="number">
  <label for"side3">Heigth</label>
  <input name="side3" type="number">
  <label for"weight">Weight</label>
  <input name="weight" type="number">

  <select name="time">
    <option value="1">Express: under 2 buisness days</option>
    <option value="7">Standard: under 7 buisness days</option>
    <option value="10">Saver: over 7 buisness days</option>
  </select>

  <button type="submit">Submit</button>
</form>
